<p>board works!</p>
<input type="file" (change)="uploadFile($event)">
<input type="button" (click)="send()" value="전송">
<br>
<button (click)="deleteFile()">Delete File!</button>

<a href="{{url}}" target="_blank" download>Download</a>

<!-- <form (ngSubmit)="onSubmit()" [formGroup]="dashboardForm">
    <input type="number" placeholder="Number" formControlName="number">
    <input type="text" placeholder="first value" formControlName="fValue">
    <input type="text" placeholder="second value" formControlName="sValue">
    <button type="submit">Submit!</button>
</form> -->